@{
	ViewData["Title"] = "Arquivo Index do teste";
}

<div class="text-center">
	<h1 class="display-4">Teste</h1>
	<h1>@ViewData["nome"]<h1>
	<h2>@ViewData["Mensagem"]</h2>
	<h3>@ViewData["Email"]</h3>
	<h3>@ViewData["numero"]</h3>
	<h3>@ViewData["materia"]</h3>
	<h3>@ViewData["dias"]</h3>
	<h3>@ViewData["bim"]</h3>
</div>

	

